@import "_variables";

html {
  width: $extension_width;
  height: $extension_height;
}

body {
  width: $extension_width;
  height: $extension_height;
  background-image: url("/images/backgrounds/default.png");
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .bookmarks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;

    &.editMode {
      .tab:not(.add) {
        .icon {
          color: $dark_grey;
          animation: shake 0.3s;
          animation-iteration-count: infinite;

          &:hover {
            color: $secondary_bg;
            cursor: pointer;

            .favicon {
              display: none;
            }

            .editIcon {
              display: initial;
            }
          }

          .favicon {
            display: initial;
          }

          .editIcon {
            font-size: 21px;
            display: none;
          }
        }
      }
    }

    &:not(.editMode) {
      .tab:not(.add):hover {
        background: rgba(0, 0, 0, 0.4);
        cursor: pointer;
      }
    }

    &.layout {
      &_4x4 {
      }
    }
  }
}
