@import "_variables";

html {
  width: $extension_width;
  height: $extension_height;
}

body {
  width: $extension_width;
  height: $extension_height;
  background: url("/images/bg.png") #000000;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .controls {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.25);
    flex-grow: 0;
  }

  .bookmarks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;

    &.editMode {
      .tab:not(.blank) {
        .icon {
          animation: shake 0.5s;
          animation-iteration-count: infinite;
        }
      }
    }

    .bookmark {
      width: 25%;
      height: 25%;
      padding: 5px;
      flex-grow: 1;
      align-self: flex-start;
      $icon_size: 50px;

      a {
        color: #fff;
        text-decoration: none;

        .tab {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;

          .icon {
            width: $icon_size;
            height: $icon_size;
            line-height: $icon_size + 5px;
            background: #fff;
            border-radius: 10px; // TODO: Make a setting
            text-align: center;
          }

          .name {
            color: #fff;
            margin-top: 15px;
            text-shadow: #000000 1px 1px 0px;
          }

          &.blank {
            .icon {
              background: rgba(255, 255, 255, 0.05);
              color: rgba(0, 0, 0, 0.25);
              font-size: 28px;

              &:hover,
              &:focus {
                cursor: pointer;
                background: rgba(255, 255, 255, 0.5);
                color: rgba(0, 0, 0, 0.75);

                & + .name {
                  opacity: 1;
                }
              }
            }

            .name {
              opacity: 0;
            }
          }

          &:not(.blank) {
            &:hover,
            &:focus {
              background: rgba(0, 0, 0, 0.6);
              cursor: pointer;
            }

            .icon {
              box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;

              img {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}
