@import "_variables";

html {
  width: $extension_width;
  height: $extension_height;
}

body {
  width: $extension_width;
  height: $extension_height;
  background: url("/images/bg.png") #000000;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;

  &.react-draggable-tranparent-selection {
    .bookmark {
      &.react-draggable-dragging {
        z-index: 50;
      }
      &:not(.react-draggable-dragging) {
        opacity: 0.5;
      }
    }
  }
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    .window {
      width: 500px;
      height: auto;
      max-width: $extension_width - 40px;
      max-height: $extension_height - 40px;
      background: #fff;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
      position: relative;
      border-radius: 5px;
      overflow: hidden;

      &.wide {
        width: 100%;
      }

      .header {
        background: rgb(244, 245, 247);
        display: flex;
        flex-direction: row;
        padding: 18px 20px;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 2px rgb(66, 82, 110);

        .title {
          font-size: 17px;
          font-weight: bold;
          color: rgb(66, 82, 110);
        }

        .close {
          font-size: 23px;
          color: rgb(66, 82, 110);

          &:hover,
          &:focus {
            cursor: pointer;
            color: $dark_grey;
          }
        }
      }

      .content {
        padding: 25px 30px 30px;

        h1 {
          color: $dark_grey;
          font-size: 17px;
          font-weight: bold;
          padding-bottom: 7px;
          margin-bottom: 17px;
          border-bottom: 1px solid $dark_grey;
        }

        input {
          width: 100%;
          padding: 15px 12px;
          outline: none;
          border-radius: 3px;
          border: 1px solid rgb(223, 225, 230);
          margin-bottom: 10px;
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
          color: rgb(66, 82, 110);
        }

        button {
          width: 120px;
          padding: 10px;
          outline: none;
          border-radius: 3px;
          border: 0;
          font-size: 15px;
          background: $secondary_bg;
          color: #fff;
          text-shadow: 1px 1px 0 darken($secondary_bg, 15%);
          font-family: "Montserrat", sans-serif;

          &:hover,
          &:focus {
            cursor: pointer;
            background: rgb(0, 101, 255);
          }

          svg {
            margin-right: 7px;
          }
        }
      }
    }
  }

  .controls {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.25);
    flex-grow: 0;
    text-align: right;

    button {
      height: inherit;
      font-size: 15px;
      border: 0;
      background: transparent;
      color: rgba(255, 255, 255, 0.5);
      padding: 0 10px;

      &:hover {
        color: #fff;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      svg {
        margin-right: 8px;
        font-size: 16px;
      }
    }
  }

  .bookmarks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;

    &.editMode {
      .tab:not(.add) {
        .icon {
          color: $dark_grey;
          line-height: 50px;
          animation: shake 0.3s;
          animation-iteration-count: infinite;

          &:hover {
            color: $secondary_bg;
          }
        }
      }
    }

    .bookmark {
      width: 25%;
      height: 25%;
      padding: 5px;
      flex-grow: 1;
      align-self: flex-start;
      $icon_size: 50px;

      a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus {
          cursor: initial;
        }

        .tab {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: relative;

          & > .icon {
            width: $icon_size;
            height: $icon_size;
            line-height: $icon_size + 5px;
            background: #fff;
            border-radius: 10px; // TODO: Make a setting
            text-align: center;
          }

          .name {
            color: #fff;
            margin-top: 15px;
            text-shadow: #000000 1px 1px 1px;
          }

          &.add {
            & > .icon {
              background: rgba(255, 255, 255, 0.05);
              line-height: $icon_size + 3px;
              color: transparent;
              font-size: 17px;
              border: 1px solid rgba(255, 255, 255, 0.07);

              &:hover,
              &:focus {
                cursor: pointer;
                background: rgba(255, 255, 255, 0.5);
                border: 1px solid rgba(255, 255, 255, 0.52);
                color: rgba(0, 0, 0, 0.6);

                & + .name {
                  opacity: 1;
                }
              }
            }

            .name {
              opacity: 0;
            }
          }

          &:not(.add) {
            &:hover,
            &:focus {
              background: rgba(0, 0, 0, 0.4);
              cursor: pointer;

              .drag {
                display: block;
              }
            }

            .hotkey {
              position: absolute;
              top: 5px;
              right: 10px;

              .key {
                width: 20px;
                text-align: center;
                border: 1px solid rgba(255, 255, 255, 0.3);
                background: rgba(255, 255, 255, 0.1);
                color: rgba(255, 255, 255, 0.65);
                font-size: 12px;
                line-height: 18px;
                border-radius: 3px;
                box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
              }
            }

            .drag {
              position: absolute;
              top: 5px;
              left: 10px;
              color: rgba(255, 255, 255, 0.75);
              font-size: 18px;
              display: none;

              &:hover,
              &:focus {
                cursor: move;
              }
            }

            & > .icon {
              box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
              position: relative;

              img {
                width: 16px;
                height: 16px;
              }

              .delete {
                padding: 5px;
                position: absolute;
                top: -15px;
                right: -15px;
                text-align: center;

                &:hover,
                &:focus {
                  cursor: pointer;

                  & > .icon {
                    background: #db3b21;
                  }
                }

                & > .icon {
                  width: 20px;
                  height: 20px;
                  line-height: 18px;
                  border-radius: 50%;
                  font-size: 13px;
                  background: $dark_grey;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
