@import "_variables";

.component.bookmark {
  padding: 5px;
  flex-grow: 1;
  align-self: flex-start;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      cursor: initial;
    }

    .tab {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: relative;
      text-align: center;

      & > .icon {
        background: #fff;
        text-align: center;
      }

      .name {
        color: #fff;
        margin-top: 15px;
        text-shadow: #000000 1px 1px 1px;
        max-width: 100%;
      }

      &.add {
        & > .icon {
          background: rgba(255, 255, 255, 0.05);
          color: transparent;
          font-size: 17px;
          border: 1px solid rgba(255, 255, 255, 0.07);

          &:hover {
            cursor: pointer;
            background: rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.4);
            color: rgba(0, 0, 0, 0.5);

            & + .name {
              opacity: 1;
            }
          }

          &.hidePlaceholder:not(:hover) {
            background: transparent;
            border: none;
          }
        }

        .name {
          opacity: 0;
          cursor: default;
        }
      }

      &:not(.add) {
        .hotkey {
          position: absolute;
          top: 5px;
          right: 10px;

          .key {
            width: 20px;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.65);
            font-size: 12px;
            line-height: 18px;
            border-radius: 3px;
            box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          }
        }

        & > .icon {
          box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
          position: relative;

          img {
            width: 16px;
            height: 16px;
          }

          .delete {
            padding: 5px;
            position: absolute;
            top: -16px;
            right: -16px;
            text-align: center;

            &:hover {
              cursor: pointer;

              & > .icon {
                background: #db3b21;
              }
            }

            & > .icon {
              width: 20px;
              height: 20px;
              line-height: 18px;
              border-radius: 50%;
              font-size: 12px;
              background: $dark_grey;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
