@import "_variables";

.component.checkbox {
  $size: 28px;

  width: $size;
  height: $size;
  border-radius: 3px;
  background: lighten($secondary_bg, 10%);
  border: 1px solid $secondary_bg;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  line-height: $size + 2px;
  text-align: center;

  &:hover {
    cursor: pointer;
    background: $secondary_bg;
  }

  &:not(.checked) {
    background: lighten($secondary_bg, 25%);
    border: 1px solid lighten($secondary_bg, 15%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) inset;

    &:hover {
      background: lighten($secondary_bg, 15%);
    }
  }

  svg {
    font-size: 18px;
    color: #fff;
  }
}
