.controls {
  width: 100%;
  height: 33px;
  background: rgba(0, 0, 0, 0.25);
  flex-grow: 0;
  margin-bottom: 5px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    padding: 0 10px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 33px;

    b {
      font-family: "Montserrat-Bold";
    }

    img {
      margin-top: 4px;
      margin-right: 5px;
      height: 25px;
      display: inline-block;
    }
  }

  .right {
    button {
      height: inherit;
      font-size: 15px;
      border: 0;
      background: transparent;
      color: rgba(255, 255, 255, 0.5);
      padding: 0 10px;

      &:hover {
        color: #fff;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      svg {
        margin-right: 8px;
        font-size: 16px;
      }
    }
  }
}
